.pagination > li > a {
    background-color: white;
    color: #0d606e;
}

.pagination > li.active > span {
    background-color: #0d606e !important;
    color: white !important;
    border-color: #0d606e !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #0d606e;
    background-color: #eee;
    border-color: #ddd;
    box-shadow: none;
}

.pagination > .active > a {
    color: white;
    background-color: #0d606e;
    border: solid 1px #0d606e;
}

.pagination > .active > a:hover {
    background-color: #0d606e;
    border: solid 1px #0d606e;
}
